[req]
prompt 					= no
distinguished_name		= ca_dn
req_extensions          = ext

[ca_dn]
commonName				= V2GRootCA
organizationName		= Switch
countryName				= UK

[ext]
basicConstraints		= critical, CA:true
keyUsage				= critical, keyCertSign, cRLSign
subjectKeyIdentifier	= hash

