[req]
prompt 					= no
distinguished_name		= ca_dn

[ca_dn]
commonName				= localhost
organizationName		= Switch
countryName				= UK

[ext]
basicConstraints		= CA:false
keyUsage				= critical, digitalSignature
subjectKeyIdentifier	= hash
authorityKeyIdentifier	= keyid,issuer
extendedKeyUsage	= critical, OCSPSigning