[req]
prompt 					= no
distinguished_name		= ca_dn

[ca_dn]
commonName				= CPS Leaf
organizationName		= Switch
countryName				= UK
domainComponent			= CPS

[ext]
basicConstraints		= critical,CA:false
keyUsage				= critical,digitalSignature
subjectKeyIdentifier	= hash

