[req]
prompt 					= no
distinguished_name		= ca_dn

[ca_dn]
commonName				= OEMProvCert
organizationName		= Switch
countryName				= UK
domainComponent			= OEM

[ext]
basicConstraints		= critical,CA:false
keyUsage				= critical,digitalSignature,keyAgreement
subjectKeyIdentifier	= hash

